<footer id="layout-footer">
    <p>© Karanveer Singh</p>
    <div>
        <a href="/">Home</a>
        <% if(locals.user){ %>

            <a href="/users/profile/<%= user.id %>">Profile</a>
            <%} %>
    </div>
</footer>