<h3>User Login Form</h3>

<form action="/users/create-session" method="post">
    <label for="name">Email: </label>
    <input type="email" name="email" id="name" placeholder="Enter Name">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" placeholder="Enter Password">

    <input type="submit" value="Login">

</form>

<p>
    <a href="/users/auth/google">Google SignIn / SignUP</a>
</p>