<h3>User SignUp</h3>

<form action="/users/create" method="POST">

    <label for="name">Name: </label>
    <input type="text" id="name" name="name" placeholder="Enter Full name">
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" placeholder="Enter Email">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" placeholder="Enter Password">
    <label for="password">Confirm Password: </label>
    <input type="password" id="password" name="confirm_password" placeholder="Confirm Password">

    <input type="submit" value="Sign Up">
</form>