#layout-header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgb(71, 71, 238);
    ul{
        display: flex;
        justify-content: center;
        width: 20%;
        list-style-type: none;
        
        li{
            margin-left: 10px;
            a{
                font-weight: 600;
                text-decoration: none;
                color: white;
            }
        }
    }
}