#home-container{
    display: flex;
    #feed-posts{
        width: 70%;
    }

    #user-friends{
        padding-left: 20px;
        border-left: 1px solid black;
        width: 30%;
        // height: 100%;
    }

}